.settings
.metadata/*
.idea
stats/*
RemoteSystemsTempFiles/*
~*
*~
*.exe
*.exe.stackdump
gmon.out
CMakeFiles
CMakeCache.txt
cmake_install.cmake
assembler/src/tools/quality/results*
__pycache__
.clangd
.DS_Store
compile_commands.json
.cache
bin
build*
logs
output
spades_output
spades_test
teamcity_precompiled
CMakeFiles
share
*.launch
*.ebwt
*.pyc
*.pyo
*.class
tags
.DS_Store
._.DS_Store
spades_config.info
bh_config.info