<!doctype html> 
<html> 
  <head>
    <title>WebVis</title>
    <style>
      div#console {font-family:monospace; width:600px; height:640px; overflow:scroll}
      div#graph {max-width:800px; height:640px; margin:auto}
    </style>
    <script type="text/javascript" src="static/jquery.js"></script>
    <script type="text/javascript" src="static/sigma.min.js"></script>
    <script type="text/javascript" src="static/plugins/sigma.parsers.json.min.js"></script>
    <script type="text/javascript" src="static/plugins/sigma.layout.forceAtlas2.min.js"></script>
    <script type="text/javascript">
      $(function() {
      $("input#command").keypress(function(event) {
        if (event.which == 13) {
          event.preventDefault();
          var command = $("input#command").val();
          $.ajax({
            url: "/command",
            type: "POST",
            data: {command: command},
            success: function(response) {
              $(function() {$("#console").append("<br/>" + response).scrollTop(1E10);});
            }
          });
          return false;
        }
      });
      $("div#console").on("click", "[href*='.dot']", function(event) {
        event.preventDefault();
        var url = $(this).attr("href");
        $.ajax({
          url: url + "&method=json",
          success: function(response) {
      //$("#graph").html($("<img>").attr("src", response));
      //$("#graph").html(response);
            sigma.parsers.json(
              response,
              sGraph,
              function() {
                sGraph.refresh();
                sGraph.startForceAtlas2();
              }
            );
          }
        });
      });

      var sGraph = new sigma("graph");
      //sGraph.startForceAtlas2();
      });
    </script>
  </head>
     
  <body>
    <p><a href="logout">Log out</a></p>
    <table width="100%"><tr height="100%">
	<td width="50%"><div id="console">{{console|safe}}</div></td>
	<td><div id="graph"><!--The rendered graph will be displayed here--></div></td>
    </tr></table>
    <label for="command">GAF$&gt;</label>
    <input type="text" id="command" size="100">
  </body>
</html>
