<!doctype html> 
<html> 
  <head>
    <title>WebVis</title>
    <style>
      div#console {font-family:monospace; height:480px; overflow:scroll}
    </style>
    <script type="text/javascript" src="static/jquery.js"></script>
    <script type="text/javascript">
      $(function() {
      /*$("a").click(function(event) {
        event.preventDefault();
        var href = $(this).attr('href');
        $.confirm({
          "title": "Download file",
          "message": "This seems to be a .dot graph file. How do you want to get it?",
          "buttons": {
            "As is": {
              "action": function() {window.location.replace(href);}
            },
            "PNG": {
              "action": function() {window.location.replace(href.replace("get", "render"));}
            }
          }
        });
      });*/
      $("input#command").keypress(function(event) {
        if (event.which == 13) {
          event.preventDefault();
          var command = $("input#command").val();
          $.ajax({
            url: "/command",
            type: "POST",
            data: {command: command},
            success: function(response) {
              //$("#console").html(response).hide().fadeIn(1500);
              $("#console").append(response).scrollTop(1E10);
            }
          });
          return false;
        }
      });
      });
    </script>
  </head>
     
  <body>
    <p><a href="logout">Log out</a></p>
    <div id="console">{{ console }}</div>
    <label for="command">GAF$&gt;</label>
    <input type="text" id="command" size="100">
  </body>
</html>
