io_lib-1.12.5/Makefile
io_lib-1.12.5/config.log
io_lib-1.12.5/config.status
io_lib-1.12.5/io_lib/Makefile
io_lib-1.12.5/progs/Makefile
io_lib-1.12.5/tests/Makefile
statgen/lib/samtools/*.o
statgen/lib/samtools/samtools
statgen/lib/tclap
statgen/lib/tclap-1.2.0/
statgen/lib/include/*.h
statgen/lib/samtools/libbam.a
statgen/lib/bam/obj/
statgen/lib/fastq/obj/
statgen/lib/general/obj/*.o
statgen/lib/glf/obj/

