.k-widget {
  border: 0;
}
.k-grid {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.k-grid .k-pager {
  float: right;
}
.k-grid .k-pager-wrap {
  padding: 7px 0 4px;
  font-size: 12px;
}
.k-grid .k-grid-header th {
  background: #ffffff;
  background-image: -moz-linear-gradient(top, #ffffff 0%, #e8e8e8 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #e8e8e8));
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #e8e8e8 100%);
  background-image: -o-linear-gradient(top, #ffffff 0%, #e8e8e8 100%);
  background-image: -ms-linear-gradient(top, #ffffff 0%, #e8e8e8 100%);
  background-image: linear-gradient(top, #ffffff 0%, #e8e8e8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e8e8e8', GradientType=0);
  /* IE6-9 */

  border-left-width: 0px;
  border-right-width: 0px;
  padding: 2px 4px;
  overflow: hidden;
  font-size: 12px;
  font-weight: bold;
  line-height: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.k-grid .k-grid-header th a.k-link:link,
.k-grid .k-grid-header th a.k-link:visited,
.k-grid .k-grid-header th a.k-link:hover {
  color: #000;
}
.k-grid .k-grid-header .k-header {
  /*http://www.kendoui.com/forums/ui/grid/header-wrapping-height.aspx*/

  white-space: normal;
  border-bottom: 3px solid #555555;
  padding: 0.7em 0.6em;
}
.k-grid .k-grid-header .k-header .k-link {
  /*http://www.kendoui.com/forums/ui/grid/header-wrapping-height.aspx*/

  text-overflow: ellipsis;
  font-size: 12px;
  color: #0088cc;
}
.k-grid table {
  border: 1px solid #D8D8D8;
}
.k-grid td {
  text-overflow: ellipsis;
  font-size: 12px;
  padding: 0.4em 0.5em;
  border-left-width: 0px;
  border-right-width: 0px;
  border-top: 1px solid #D8D8D8;
  word-break: break-all;
}
.k-grid td div.progress {
  margin-bottom: 0;
}
.k-grid td.dropdown-col {
  overflow: visible;
}
.k-grid td.dropdown-col .dropdown-toggle img {
  height: 12px;
  width: 12px;
  margin-right: 4px;
}
.k-grid tr:hover {
  cursor: hand;
}
.k-grid tr.k-state-selected i.icon-exclamation-sign {
  background-image: url("../img/glyphicons-halflings-white.png");
}
.k-grid tr.k-state-selected td .dropdown a.dropdown-toggle {
  color: white;
}
.k-grid tr.k-state-selected td .dropdown li a {
  color: #333333;
}
.k-grid tr.k-state-selected td div.popover {
  color: #333333;
}
.k-state-selected,
.k-button:active,
.k-draghandle.k-state-selected:hover {
  background-color: #1480d2;
}
.k-pager-numbers .k-link {
  background: none repeat scroll 0 0 transparent;
  border: 1px solid #BBBBBB;
  border-radius: 0;
  color: #3688D2;
  display: block;
  margin-right: 4px;
  font-weight: normal;
  padding: 2px 10px;
}
.k-pager-numbers .k-link:hover {
  background-image: none;
  border: 1px solid #3688D2;
  padding: 2px 10px;
  color: #3688D2;
}
.k-pager-numbers .k-state-selected {
  background: none repeat scroll 0 0 #3688D2;
  border: 1px solid #3688D2;
  border-radius: 0;
  box-shadow: none;
  color: #FFFFFF;
  padding: 2px 10px;
  margin-right: 4px;
  line-height: 20px;
}
.k-pager-wrap > .k-link {
  border-radius: 0;
  margin-right: 4px;
  padding: 1px 5px;
  line-height: 20px;
}
.k-pager-wrap {
  background-image: none;
  background-color: transparent;
}
.k-pager-wrap .k-link:hover {
  border: 1px solid #3688D2;
  line-height: 20px;
}
.k-pager-wrap .k-widget {
  margin: 0 5px 0 0;
}
.k-pager-wrap .k-header,
.k-pager-wrap .k-dropdown-wrap,
.k-pager-wrap .k-link:hover {
  background-image: none;
  background-color: transparent;
}
.k-pager-wrap .k-dropdown-wrap.k-state-hover {
  border: 1px solid #3688D2;
}
.k-pager-info {
  padding: 0;
}
.popover {
  width: auto;
}
.popover-content {
  font-size: 12px;
  word-break: normal;
}
.panel .edit-filter label {
  margin-top: 0;
}
.edit-filter legend {
  margin-bottom: 5px;
  margin-top: 5px;
  font-size: 14px;
  line-height: 20px;
}
.edit-filter .control-group {
  margin-bottom: 3px;
  margin-top: 0;
}
body.browser-warning-visible {
  padding-top: 80px;
}
#browser-warning {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  color: black;
  text-align: left;
  font-size: 14px;
}
#browser-warning .close {
  /* Position it using absolute positioning. The default Bootstrap CSS for this doesn't work properly in IE 7. */

  position: absolute;
  top: 6px;
  right: 15px;
}
#browser-warning em {
  font-style: normal;
  font-size: 20px;
}
#browser-warning a:hover {
  text-decoration: none;
}
#browser-warning .browser-warning-contents {
  width: 960px;
  margin: 0 auto;
}
#browser-warning .browser-warning-text-content {
  padding-top: 0.2em;
  width: 600px;
  padding-left: 55px;
  float: left;
}
#browser-warning .browser-warning-icons {
  float: left;
  width: 280px;
}
#browser-warning .browser-warning-icons img {
  float: left;
  display: block;
  margin-left: 10px;
}