dataset         QUAKE_FULL

#include "pe_libs.info"

pe_params {
	#include "pe_params.info"
}

utils 
{
	; 1 check symmetry and conjugate symmetry
	; 2 check equality
	; 3 aggreagte paired info
    mode        3 
    file1       ./data/debruijn/QUAKE_FULL/K55/SC/09.29_08_52/paired_info_IS270_RS100_clustered
    file2       ./data/debruijn/QUAKE_FULL/K55/SC/simplified_graph
    
    clustered   ./data/debruijn/QUAKE_FULL/K55/SC/09.29_08_52/paired_info_IS270_RS100_clustered
    read_size    100
    insert_size  270
    dev          5
    advanced    ./data/debruijn/QUAKE_FULL/K55/SC/09.29_07_30/paired_info_IS270_RS100_acl
}    


