build/
logs/
output/
.cproject
.project
gmon.out
abruijn.sh
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
src/debruijn/config.inp
src/debruijn/long_contigs/lc_config.info
src/file
*.launch

