bin/
build/
build_spades/
logs/
output/
spades_output/
spades_test/
spades_test_truspades/
teamcity_precompiled/
CMakeFiles/
scripts/
share/
*.launch
*.ebwt
*.pyc
*.pyo
*.class
tags
.DS_Store
._.DS_Store
spades_config.info
bh_config.info
bin
build_spades
share
