output_to_console			true
output_dir					/home/snurk/git/algorithmic-biology/assembler/hammer_output
working_dir					/home/snurk/git/algorithmic-biology/assembler/hammer_test/working
left_reads					data/input/E.coli/is220/cropped/s_6.first1000_1.fastq.gz
right_reads 				data/input/E.coli/is220/cropped/s_6.first1000_1.fastq.gz
iteration_count				3
qvoffset	    			33
dataset_name				TEST
read_length					100
