; all paths are relative to the working directory but you can also use $cfg variable to set paths relative to this config

project_name        ECOLI_1K                          ; optional. Name of this config file is used if not specified
output_dir          ./spades_output
output_to_console   true                              ; optional. Default is true
developer_mode      false                             ; optional. Default is false
compilation_dir                                       ; optional. Default is ~/.spades/precompiled/

dataset
{
    paired_reads        $cfg/test_dataset/ecoli_first1K_1.fq.gz $cfg/test_dataset/ecoli_first1K_2.fq.gz 
    single_reads                                      ; optional    
    single_cell         false
}

error_correction
{
    tmp_dir                                           ; optional. <output_dir>/corrected/tmp is used if not specified
    qvoffset                                          ; optional. Either 33 or 64
    max_iterations      2
    max_threads         20
    max_memory          50 ; in GB
    gzip_output         true    
}

assembly
{
    iterative_K         21 33 55
    paired_mode         true
    generate_sam_files  true                          ; optional. Default is false  
}

quality_assessment      ; optional. If section exists (even if it has no lines) than spades.py evaluates quality of the final contigs 
{
    reference           $cfg/test_dataset/MG1655-K12.first1K.fasta.gz ; optional
    genes               $cfg/test_dataset/genes.first1K.txt           ; optional
    operons             $cfg/test_dataset/operons.first1K.txt         ; optional
}
