statgen/lib/samtools/*.o
statgen/lib/samtools/samtools
statgen/lib/tclap
statgen/lib/tclap-1.2.0/
statgen/lib/include/*.h
statgen/lib/samtools/libbam.a
statgen/lib/bam/obj/
statgen/lib/fastq/obj/
statgen/lib/general/obj/*.o
statgen/lib/glf/obj/
statgen/lib/libStatGen.a
io_lib-1.12.5/Makefile
io_lib-1.12.5/config.log
io_lib-1.12.5/config.status
io_lib-1.12.5/io_lib-config
io_lib-1.12.5/io_lib_config.h
io_lib-1.12.5/io_lib/.deps/
io_lib-1.12.5/io_lib/Makefile
io_lib-1.12.5/io_lib/os.h
io_lib-1.12.5/libtool
io_lib-1.12.5/progs/.deps/
io_lib-1.12.5/progs/Makefile
io_lib-1.12.5/stamp-h1
io_lib-1.12.5/tests/Makefile
