; input options:

#include "simplification.info"
#include "construction.info"
#include "distance_estimation.info"
#include "detail_info_printer.info"
#include "coverage_based_rr.info"

K		55

run_mode false
project_name    TOY_DATASET
dataset         ./configs/debruijn/datasets_archive/toy.info
log_filename    log.properties

output_base	      ./data/debruijn/
tmp_dir	              spades_tmp/

main_iteration  true
additional_contigs	tmp_contigs.fasta
coverage_based_rr_on	false
load_from         latest/saves/ ; tmp or latest 


; Multithreading options
use_multithreading	true 
temp_bin_reads_dir	.bin_reads/
max_threads		8
max_memory      120; in Gigabytes
buffer_size	      	512; in Megabytes

entry_point construction
;entry_point simplification
;entry_point pacbio_aligning
;entry_point late_pair_info_count
;entry_point distance_estimation
;entry_point repeat_resolving

developer_mode true

; enabled (1) or disabled (0) repeat resolution (former "paired_mode")
rr_enable true

; use single reads for rr when other libs available
always_single_reads_rr false

;use single reads for rr 
single_reads_rr true

; diploid mode
diploid_mode false

; The following parameters are used ONLY if developer_mode is true

; whether to output dot-files with pictures of graphs - ONLY in developer mode
output_pictures true

; whether to output resulting contigs after intermediate stages - ONLY in developer mode
output_nonfinal_contigs true

; whether to compute number of paths statistics   - ONLY in developer mode
compute_paths_number false

; End of developer_mode parameters

; iterative mode switcher, activates additional contigs usage
use_additional_contigs false

; use unipaths as additional contigs instead of just graph edges
use_unipaths false 

; set it true to separate the clusters after de stage
divide_clusters false

;enables mismatch careful mode (primary changes some simplification settings)
mismatch_careful    false

;if true simple mismatches are corrected
correct_mismatches          true

; set it true to get statistics, such as false positive/negative, perfect match, etc.
paired_info_statistics false

; set it true to get statistics for pair information (over gaps), such as false positive/negative, perfect match, etc.
paired_info_scaffolder false

estimation_mode simple
; simple, weighted, extensive, smoothing

;set it true to detach connections that are not supported by paired info before repeat resolution
cut_bad_connections false

;the only option left from repeat resolving -- WHY DO THEY DIFFER?
max_repeat_length 8000
max_repeat_length_sc 8000

; repeat resolving mode (none path_extend)
resolving_mode path_extend

use_scaffolder  true
mask_all	true

andrey_params {
	#include "path_extend/pe_params.info"
}

avoid_rc_connections true

;position handling

pos
{
	max_single_gap 50
	contigs_for_threading ./data/debruijn/contigs.fasta
    contigs_to_analyze ./data/debruijn/contigs.fasta
	late_threading true
	careful_labeling true

}

gap_closer_enable   true	

gap_closer
{
    minimal_intersection	10
    before_simplify		true
    in_simplify    		false
    after_simplify 		true
    weight_threshold		2.0
}

kmer_coverage_model {
    probability_threshold 0.05
    strong_probability_threshold 0.999
}

pacbio_processor
{
;align and traverse.
	pacbio_k 13
	additional_debug_info false
	compression_cutoff 0.6
	domination_cutoff 1.5
	path_limit_stretching 1.3
	path_limit_pressing 0.7
	ignore_middle_alignment true
;gap_closer
	long_seq_limit 400
	pacbio_min_gap_quantity 2
	contigs_min_gap_quantity 1
}
; consensus
need_consensus  false ; output is VERY large(gigabytes).
uncorrected_reads	none

mismatch_ratio 2.0;

graph_read_corr
{
	enable false
	output_dir corrected_contigs/
	binary true
}

;flanking coverage range
flanking_range 50
