; input options:

#include "simplification.info"
#include "distance_estimation.info"
#include "detail_info_printer.info"

project_name ECOLI_1K
dataset     ./test_dataset/ECOLI_1K.info

output_base	      ./data/debruijn/

additional_contigs	tmp_contigs.fasta

load_from         latest/saves/ ; tmp or latest 

entry_point construction
;entry_point paired_info_count
;entry_point simplification
;entry_point late_pair_info_count
;entry_point distance_estimation
;entry_point repeats_resolving
;entry_point n50_enlargement

developer_mode true

; The following parameters are used ONLY if developer_mode is true

; whether to print save-files (which take space on disk) - ONLY in developer mode
make_saves true

; whether to output dot-files with pictures of graphs - ONLY in developer mode
output_pictures true

; whether to output resulting contigs after intermediate stages - ONLY in developer mode
output_nonfinal_contigs true

; whether to compute number of paths statistics   - ONLY in developer mode
compute_paths_number true

; End of developer_mode parameters

; etalon graph mode switcher. If true input reads are ignored and graph is constructed with reference as the only read
etalon_graph_mode false

; iterative mode switcher, activates additional contigs usage
use_additional_contigs false

; paired (1) or unpaired (0, for quick debug and algorithms testing) mode
paired_mode true

; set it true to get statistics, such as false positive/negative, perfect match, etc.
paired_info_statistics false

; use advanced distance estimation or not
advanced_estimator_mode false

; set to true to obtain paired info from genome mapping rather than from paired reads
etalon_info_mode  false

; Collect paired information before or after graph simplification
late_paired_info true

; repeat resolving mode (none split path_extend jump combined)
resolving_mode split

andrey_params {
	#include "long_contigs/lc_params.info"
}

; Produce info for all components of graph and run repeat resolver for each component.
componential_resolve false

;repeat_resolving 


sc_rr
{
	symmetric_resolve true
	mode		2 ; Additional resolve cheats, don't change if you are not sure
	inresolve_cutoff_proportion 0.1
	near_vertex  30
	max_distance 50
	max_repeat_length 8000

}

usual_rr
{
	symmetric_resolve true
	mode		3 ; Additional resolve cheats, don't change if you are not sure
	inresolve_cutoff_proportion 0.5
	near_vertex  30
	max_distance 50
	max_repeat_length 4000
}


;position handling

pos
{
	max_single_gap 50
	contigs_for_threading ./data/debruijn/contigs.fasta
    contigs_to_analyze ./data/debruijn/contigs.fasta
	late_threading false
}

gap_closer_enable	true

gap_closer
{
    minimal_intersection	10
    before_simplify		true
    in_simplify    		false
    after_simplify 		true
    use_extended_mapper		true
    weight_threshold		2.0
}

SAM_writer_enable   false

SAM_writer
{
	output_map_format	false
	align_before_RR		true
	align_after_RR		true
	adjust_align		true
	align_only_paired	true
	output_broken_pairs	false
	align_original_reads	false
	original_first	E.coli/jgi/0012/Ecoli_0012.1.fastq
	original_second	E.coli/jgi/0012/Ecoli_0012.2.fastq

}


; consensus
need_consensus  false ; output is VERY large(gigabytes).
uncorrected_reads	none

path_set_graph false  ;experimental

jump
{
	    load                false
	    weight_threshold    0.05
}

