{% extends "tasks/base.html" %}
{% load static %}
{% get_static_prefix as STATIC_URL %}

{% block title%}Task {{name}} added{% endblock%}

{% block scripts %}
<script type="text/javascript">            
$(function(){              
              $( "a", ".create-task" ).button({                                                         
                                              icons: {
                                              primary: "ui-icon-plus"
                                              }
                                              }); 
              $( "a", ".back-to-queue" ).button({                                                         
                                              icons: {
                                              primary: "ui-icon-arrow-1-w"
                                              }
                                              }); 
              });
</script>
{% endblock %}


{% block main_body %}
<div style="margin:50px">
    <h2>Task "{{name}}" has been successfully added</h2>        
    <table>
        <tr>
            <td>
                <div class="back-to-queue">
                    <a href="/tasks">Back to tasks queue</a>        
                </div>        
            </td>
            <td>
                <div class="create-task">
                    <a href="/tasks/newtask">Create new task</a>        
                </div>        
            </td>
        </tr>
    </table>
</div>
{% endblock %}

