{% extends "tasks/base.html" %}
{% load static %}
{% get_static_prefix as STATIC_URL %}

{% block title%} Details {% endblock %}

{% block main_body%}
<div style="margin:50px">
    <h1><a href="/tasks">&lt;&lt;Back to the tasks queue</a><h1>
    <div>
        <div>
            <h2>{{task.name}}</h2>
        </div>
        <table>
            <tr>
                <td>
                    <div>
                        <div class="brd" style="margin:10px 0px">
                            <h3>Requered parameters</h3>
                            <div style="margin:20px 0px 0px 0px">
                                <stan style="margin:10px 10px 10px 0px">
                                    <label for="property1" title="information about Property1">Property1</label>
                                    <input type="text" disabled="true" value="{{task.property1}}"/>
                                </stan>
                                <stan style="margin:10px 0px">
                                    <label for="property2" title="information about Property2">Property2</label>
                                    <input type="text" disabled="true" value="{{task.property2}}"/>
                                </stan>                        
                            </div>
                        </div>
                        <div class="brd" style="margin:10px 0px">
                            <h3>Optional parameters</h3>
                            <div style="margin:20px 0px 0px 0px">
                                <span style="margin:10px 10px 10px 0px">
                                    <label for="property3" title="information about Property3">Property3</label>
                                    <input type="text" disabled="true" value="{{task.property3}}"/>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
            <td style="width:20%">            
                <div>            
                    <h3>History</h3>        
                    {% if task_logs %}
                    <div class="brd">            
                        {% for log in task_logs %}                        
                        <h4>{{log.changed_property}}</h4>
                        <div>
                            <h5>{{log.changed_date}}</h5>
                        </div>                    
                        {% endfor %}
                    </div>
                    {% else %}
                    <div>            
                        <h4>Task has not been changed</h4>
                    </div>
                    {% endif %}        
                </div>  
            </td>
        </tr>
    </table>
</div>





{% endblock %}

