{% extends "tasks/base.html" %}
{% load static %}
{% get_static_prefix as STATIC_URL %}

{% block title%}Create new task{% endblock %}

{% block scripts %}
<script type="text/javascript">
    $(function(){              
      $( "input:submit", ".create-next" ).button();               
    });            
</script>
{% endblock %}
   
{% block main_body %}
<div style="margin:50px">
    <h3><a href="/tasks">&lt;&lt;Back to the queue</a></h3>
    <h1>Create new task</h1>
    <div class="brd" style="float: left;width:80%">
        <form action="/tasks/addtask" method="Post">
        {% csrf_token %}
            <div>
                <label for="name">Name</label>
                <input type="text" name="name" id="name"/>
                <span style="color:red">{{name_error}}</span>
            </div>
            <div>
                <span>
                    <label for="priority">Priority</label>
                    <select name="priority" id="priority">
                        <option value="L">Low</option>
                        <option value="H">High</option>
                    </select>
                </span>
            </div>
            <div class="brd" style="margin:10px 0px">
                <h3>Requered parameters</h3>
                <div style="margin:20px 0px 0px 0px">
                    <span style="margin:10px 10px 10px 0px">
                        <label for="property1" title="information about Property1">Property1</label>
                        <input type="text" name="property1" id="property1"/>
                        <span style="color:red">{{property1_error}}</span>
                    </span>
                    <span style="margin:10px 10px 10px 0px">
                        <label for="property2" title="information about Property2">Property2</label>
                        <span style="color:red">{{property2_error}}</span>
                        <input type="text" name="property2" id="property2"/>
                    </span>
                </div>
            </div>
            <div class="brd" style="margin:10px 0px">
                <h3>Optional parameters</h3>
                <div style="margin:20px 0px 0px 0px">
                    <span style="margin:10px 10px 10px 0px">
                        <label for="property3" title="information about Property3">Property3</label>
                        <span style="color:red">{{property3_error}}</span>
                        <input type="text" name="property3" id="property3"/>
                    </span>
                </div>
            </div>
            <div class="create-next" align="right">
                <input type="submit" value="Create" name="create"/>        
                <input type="submit" value="Cancel" name="cancel"/>       
            </div>
        </form>   
    </div>        
</div>
{% endblock %}

