default=INFO

#PolymorphicBulgeRemover=TRACE
#BulgeSplitter=TRACE
#SubpathSplitter=TRACE
#ComplexBulgeGluer=TRACE
#GluingVericesDefiner=TRACE
#GluingVericesDefinerResults=TRACE
#ConsensusContigsConstructor=TRACE
#CloseGapsCorrector=TRACE
#LoopBulgeDeletionCorrector=TRACE
#CompositeMappingContig=TRACE
#DiploidContigSeparator=TRACE
#ContigLabelAllocator=TRACE
#OverlappedContigsMap=TRACE
#OverlapCorrector=TRACE
#EqualSequencesGluer=TRACE

#DeBruijnGraphConstructor=TRACE
#PairedHandlerApplier=TRACE
#QualityEdgeLocalityPrintingRH=TRACE
#PairInfoAwareErroneousEdgeRemover=TRACE
#QualityLoggingRemovalHandler=TRACE
#MatePairTransformStat=TRACE
#EditDistanceTrackingCallback=TRACE
#RepeatResolver=TRACE
#PairInfoImprover=TRACE
#BulgeRemover=TRACE
#AbstractConjugateGraph=TRACE
#PathProcessor=TRACE
#DistanceEstimationQualityStat=TRACE
#Dijkstra=TRACE
#AbstractGraph=TRACE
#PathSetGraphConstructor=TRACE
#NewExtendedSequenceMapper=TRACE
#JumpingPairInfoChecker=TRACE
